body{
    background-color: rgb(35, 90, 145);
    display: flex;
    flex-wrap: wrap;
}

table{
    border: solid thick rgb(13, 144, 35);
    
    margin: auto;
    width: 100%;
    margin-top: 5vh;
    font-size: 1.5vh;
    margin-bottom: 5vh;
}
p,
h1{   
font-size: 3rem;
color: black;
}

th,
td,
tbody{
    border: solid 1px rgb(25, 164, 58);
    width: 70px;
}
input{
    width: 70px;
}